
 
  <%= render 'opinions/form' , opinion: @opinion  %>


 

  <div class='box'> 
     <p class='n-posts'>NUMBER OF</p>
     <hr>
     <% @opinions.each do |opinion| %>
        <div class='row'>
          <a class='menu-ancho' href='users/<%= opinion.user.id %>'>
            <div class='square'>
              <img src="<%= opinion.user.photo %>" width='50'>
            </div>
          </a>
          <div class='box2'>
           <%= destroy_opinion(opinion,current_user) %>
            

            <a class='menu-ancho' href='users/<%= opinion.user.id %>'><p class='font-weight-bold'><%= opinion.user.username %></p></a>
            
            <p><%= opinion.opinion %></p>
            
          </div>
      </div> 
     <% end %>
  </div>
 



