
 
  <%= render 'opinions/form' , opinion: @opinion  %>


 

  <div class='box'> 
     <p class='n-posts'>NUMBER OF</p>
     <hr>
     <% @opinions.each do |opinion| %>
        <div class='row'>
          <div class='square'>
            <img src="<%= opinion.user.photo %>" width='50'>
          </div>
          <div class='box2'>

            <p class='font-weight-bold'><%= opinion.user.username %></p>
            
            <p><%= opinion.opinion %></p>
            
            <p><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
      </div> 
     <% end %>
  </div>
 



