<h2 class='text-center'>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="pt-2 shadow pb-5 mt-5 container col-lg-4 col-md-5 mb-5">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :fullname, autofocus: true, autocomplete: "Full name" %>
    </div>
    <div class="field">
      
      <%= f.text_field :username, autocomplete: "User name" %>
    </div>
    <div class="field">
      
      <%= f.text_field :photo, autocomplete: "Profile images" %>
    </div>
    <div class="field">
      
      <%= f.text_field :coverimage %>
    </div>


  

    <div class="actions">
      <%= f.submit "Sign up",class:'btn-block btn-secondary' %>
    </div>
  </div> 
<% end %>
<div class='text-center'>
  <%= render "devise/shared/links" %>
</div>
