<div class='row index'>
  <div>
    <%= render 'opinions/menu' %>
  </div>
  
  <div class='marginLeft row'>
    <div class='wid'>
      <nav class="navbar navbar-expand-lg navl  navbar-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-end mr-5" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active " href="#"><i class="fa fa-pencil linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-envelope-o linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-search linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-cog  linkNav" aria-hidden="true"></i></a>
            
          </div>
        </div>
      </nav>
      <div class='row'>
        <%= render 'opinions/feed' %>
       
      </div>
    </div>
    
   
   

   

    

     
        
     
    


    
  </div>
  
</div>  
<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Coverimage:</strong>
  <%= @user.coverimage %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
