<!DOCTYPE html>
<html>
  <head>
    <title>BiologistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification text-primary global-notification text-center">
        <p class="notice"><%= notice %></p>
      </div>

    <% end %>
    <% if flash[:alert] %>
      <div class="notification text danger global-notification text-center">
        <p class='alert'><%= alert %></p>
      </div>

    <% end %>
    <%= yield %>
  </body>
</html>
